
tr:nth-child(odd){
background-color: var(--butter);
}
nav>ul{
    background-color: var(--goldenwaffle);
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    margin: 0%;
    padding-left: 0%;
    height: 30px;
}
nav>ul>li{
    padding-left: 7.5%;
    padding-right: 7.5%;
}
nav>ul>li:hover{
    background-color: var(--syrup);
}
nav>ul>li>a{
    text-decoration: none;
    color: black;
}
#active{
    background-color: var(--butter);
}
main{
    background-color: var(--goldenwaffle);
}
footer{
    background-color: var(--goldenwaffle);
}
:root{
--goldenwaffle: #E6AB00;
--syrup: #E66D00;
--butter:#E6BF4C;
}
header>h1{
    text-align: center;
    background-color: var(--syrup);
    margin-bottom: 0%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}
main>p{
   text-align: center;
   justify-content: center;
   color: black;
   font-size: 200%;
   font-family: 'Times New Roman', Times, serif;
}
main>h1{
    text-align: center;
    text-decoration: underline wavy;
    justify-content: center;
    font-size: 35pt;
    font-family: 'Times New Roman', Times, serif;
}
main>div{
    justify-content: center;
    text-align: center;
    font-size: 25pt;
}
main>div>figure>img{
    width: 40%;
}
.overpriced{

}
main{
border: black solid;
border-radius: 10%;
}
.Golden-Waffle{
    width: 20%;
}
.Deep-Fried-Waffles{
    width: 20%;
}
.Crepes{
    width: 20%;
}
.Mint-Chip{
    width: 20%;
}
main>h2{
    text-align: center;
    text-decoration: underline wavy;
}
.overpriced {
    border: black solid;
    border-radius: 2%;
}